<div>
  <p><%=file.size%> Bytes</p>
  <p><%=file.mimetype%></p>
  <p>Created At: <%=file.createdAt%></p>
  <p>Last updated At: <%=file.updatedAt%></p>
  <img src="<%=file.path%>" alt="" />
  <a href="<%=file.path%>" download="<%=file.name%>">Download file</a>
</div>
