<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%-include("../partials/header")%>
    <section class="mx-20">
      <h1 class="mt-5 mb-10 text-3xl text-center"><%=title%></h1>
      <div class="gap-5 grid grid-cols-2">
        <%-include("../partials/upload-file")%>
        <%-include("../partials/folder-breakdown")%>
      </div>
      <div class="mt-30 grid justify-center">
        <a
          href="/folder/rename/<%=folderData.name%>/<%=folderData.id%>"
          class="px-18 py-2 rounded-sm border-slate-100 hover:bg-slate-200 hover:border-slate-200 inline-block border-2 hover:cursor-pointer"
          >Rename folder</a
        >
      </div>
      <form
        action="/folder/delete/<%=folderData.id%>"
        method="POST"
        class="mt-5 grid justify-center"
      >
        <button
          type="submit"
          class="px-14 py-2 rounded-sm border-slate-100 hover:bg-slate-200 hover:border-slate-200 border-2 hover:cursor-pointer"
        >
          Delete Folder
        </button>
        <p class="text-xs text-stone-500 mt-2 text-center">
          *All files inside will also be permanently deleted
        </p>
      </form>
    </section>
    <%-include("../partials/footer")%>
  </body>
</html>
